<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.polypay.platform.dao.ChannelMapper" >
  <resultMap id="BaseResultMap" type="com.polypay.platform.bean.Channel" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="bean" property="bean" jdbcType="VARCHAR" />
    <result column="call_back" property="callBack" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, bean, call_back
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from channel
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from channel
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.polypay.platform.bean.Channel" >
    insert into channel (id, name, bean, 
      call_back)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{bean,jdbcType=VARCHAR}, 
      #{callBack,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.polypay.platform.bean.Channel" >
    insert into channel
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="bean != null" >
        bean,
      </if>
      <if test="callBack != null" >
        call_back,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="bean != null" >
        #{bean,jdbcType=VARCHAR},
      </if>
      <if test="callBack != null" >
        #{callBack,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.polypay.platform.bean.Channel" >
    update channel
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="bean != null" >
        bean = #{bean,jdbcType=VARCHAR},
      </if>
      <if test="callBack != null" >
        call_back = #{callBack,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.polypay.platform.bean.Channel" >
    update channel
    set name = #{name,jdbcType=VARCHAR},
      bean = #{bean,jdbcType=VARCHAR},
      call_back = #{callBack,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

	<select id="selectChannelByMerchantId"
		parameterType="java.lang.String" resultMap="BaseResultMap">
		select c.* from merchant_account_info mai left join channel c on
		mai.channle_id = c.id where mai.merchant_id = #{merchant_id}
	</select>
  
</mapper>