<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.polypay.platform.dao.MenuMapper" >
  <resultMap id="BaseResultMap" type="com.polypay.platform.bean.Menu" >
    <id column="menu_Id" property="menuId" jdbcType="INTEGER" />
    <result column="menu_Name" property="menuName" jdbcType="VARCHAR" />
    <result column="menu_Url" property="menuUrl" jdbcType="VARCHAR" />
    <result column="menu_Pid" property="menuPid" jdbcType="INTEGER" />
    <result column="menu_Target" property="menuTarget" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    menu_Id, menu_Name, menu_Url, menu_Pid, menu_Target
  </sql>

  <sql id="result_Column_List" >
    m.menu_Id, m.menu_Name, m.menu_Url, m.menu_Pid, m.menu_Target
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from menu
    where menu_Id = #{menuId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from menu
    where menu_Id = #{menuId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.polypay.platform.bean.Menu" >
    insert into menu (menu_Id, menu_Name, menu_Url, 
      menu_Pid, menu_Target)
    values (#{menuId,jdbcType=INTEGER}, #{menuName,jdbcType=VARCHAR}, #{menuUrl,jdbcType=VARCHAR}, 
      #{menuPid,jdbcType=INTEGER}, #{menuTarget,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.polypay.platform.bean.Menu" >
    insert into menu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="menuId != null" >
        menu_Id,
      </if>
      <if test="menuName != null" >
        menu_Name,
      </if>
      <if test="menuUrl != null" >
        menu_Url,
      </if>
      <if test="menuPid != null" >
        menu_Pid,
      </if>
      <if test="menuTarget != null" >
        menu_Target,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="menuId != null" >
        #{menuId,jdbcType=INTEGER},
      </if>
      <if test="menuName != null" >
        #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuUrl != null" >
        #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="menuPid != null" >
        #{menuPid,jdbcType=INTEGER},
      </if>
      <if test="menuTarget != null" >
        #{menuTarget,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.polypay.platform.bean.Menu" >
    update menu
    <set >
      <if test="menuName != null" >
        menu_Name = #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuUrl != null" >
        menu_Url = #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="menuPid != null" >
        menu_Pid = #{menuPid,jdbcType=INTEGER},
      </if>
      <if test="menuTarget != null" >
        menu_Target = #{menuTarget,jdbcType=VARCHAR},
      </if>
    </set>
    where menu_Id = #{menuId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.polypay.platform.bean.Menu" >
    update menu
    set menu_Name = #{menuName,jdbcType=VARCHAR},
      menu_Url = #{menuUrl,jdbcType=VARCHAR},
      menu_Pid = #{menuPid,jdbcType=INTEGER},
      menu_Target = #{menuTarget,jdbcType=VARCHAR}
    where menu_Id = #{menuId,jdbcType=INTEGER}
  </update>
  <select  id="getMenusByRoleId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
   select 
    <include refid="result_Column_List" />
    from role r left join mid_role_menu mrm  on r.role_id = mrm.role_id 
    left join menu m on mrm.menu_id = m.menu_id where r.role_id = #{roleId} 
  </select>
</mapper>