<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.polypay.platform.dao.MerchantApiMapper" >
  <resultMap id="BaseResultMap" type="com.polypay.platform.bean.MerchantApi" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="merchant_id" property="merchantId" jdbcType="VARCHAR" />
    <result column="secret_key" property="secretKey" jdbcType="VARCHAR" />
    <result column="md5_key" property="md5Key" jdbcType="VARCHAR" />
    <result column="api_doc_url" property="apiDocUrl" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, merchant_id, secret_key, md5_key, api_doc_url, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from merchant_api
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from merchant_api
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.polypay.platform.bean.MerchantApi" >
    insert into merchant_api (id, merchant_id, secret_key, 
      md5_key, api_doc_url, create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{merchantId,jdbcType=VARCHAR}, #{secretKey,jdbcType=VARCHAR}, 
      #{md5Key,jdbcType=VARCHAR}, #{apiDocUrl,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.polypay.platform.bean.MerchantApi" >
    insert into merchant_api
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="merchantId != null" >
        merchant_id,
      </if>
      <if test="secretKey != null" >
        secret_key,
      </if>
      <if test="md5Key != null" >
        md5_key,
      </if>
      <if test="apiDocUrl != null" >
        api_doc_url,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="merchantId != null" >
        #{merchantId,jdbcType=VARCHAR},
      </if>
      <if test="secretKey != null" >
        #{secretKey,jdbcType=VARCHAR},
      </if>
      <if test="md5Key != null" >
        #{md5Key,jdbcType=VARCHAR},
      </if>
      <if test="apiDocUrl != null" >
        #{apiDocUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.polypay.platform.bean.MerchantApi" >
    update merchant_api
    <set >
      <if test="merchantId != null" >
        merchant_id = #{merchantId,jdbcType=VARCHAR},
      </if>
      <if test="secretKey != null" >
        secret_key = #{secretKey,jdbcType=VARCHAR},
      </if>
      <if test="md5Key != null" >
        md5_key = #{md5Key,jdbcType=VARCHAR},
      </if>
      <if test="apiDocUrl != null" >
        api_doc_url = #{apiDocUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.polypay.platform.bean.MerchantApi" >
    update merchant_api
    set merchant_id = #{merchantId,jdbcType=VARCHAR},
      secret_key = #{secretKey,jdbcType=VARCHAR},
      md5_key = #{md5Key,jdbcType=VARCHAR},
      api_doc_url = #{apiDocUrl,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="getMerchantApiByUUID" parameterType="java.lang.String" resultMap="BaseResultMap">
  
   select 
    <include refid="Base_Column_List" />
    from merchant_api
    where merchant_id = #{merchantUUID}
  
  </select>
  
  <update id="updateMerchantApi" parameterType="com.polypay.platform.bean.MerchantApi">
   update merchant_api
    <set >
      <if test="secretKey != null" >
        secret_key = #{secretKey,jdbcType=VARCHAR},
      </if>
      <if test="md5Key != null" >
        md5_key = #{md5Key,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where merchant_id = #{merchantId}
  </update>
  
  <select id="listMerchantApi" parameterType="com.polypay.platform.bean.MerchantApi" resultMap="BaseResultMap">
  
    
   select 
    <include refid="Base_Column_List" />
    from merchant_api
    where  
    1=1 
     <if test="merchantId != null" >
        and   merchant_id = #{merchantId}
      </if>
  
  </select>
  
  
</mapper>