<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.polypay.platform.dao.MerchantAccountInfoMapper">
	<resultMap id="BaseResultMap" type="com.polypay.platform.bean.MerchantAccountInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="proxy_id" property="proxyId" jdbcType="VARCHAR" />
    <result column="account_name" property="accountName" jdbcType="VARCHAR" />
    <result column="mobile_number" property="mobileNumber" jdbcType="VARCHAR" />
    <result column="pass_word" property="passWord" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="login_ip" property="loginIp" jdbcType="VARCHAR" />
    <result column="helppay_status" property="helppayStatus" jdbcType="INTEGER" />
    <result column="pay_level" property="payLevel" jdbcType="INTEGER" />
    <result column="role_id" property="roleId" jdbcType="INTEGER" />
    <result column="channel_id" property="channelId" jdbcType="INTEGER" />
     <result column="hand_amount" property="handAmount" jdbcType="DECIMAL" />
   
  </resultMap>
  
	<resultMap id="listResultMap"
		type="com.polypay.platform.vo.MerchantAccountInfoVO">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="uuid" property="uuid" jdbcType="VARCHAR" />
		<result column="proxy_id" property="proxyId" jdbcType="VARCHAR" />
		<result column="account_name" property="accountName"
			jdbcType="VARCHAR" />
		<result column="mobile_number" property="mobileNumber"
			jdbcType="VARCHAR" />
		<result column="pass_word" property="passWord"
			jdbcType="VARCHAR" />
		<result column="create_time" property="createTime"
			jdbcType="TIMESTAMP" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="login_ip" property="loginIp" jdbcType="VARCHAR" />
		<result column="helppay_status" property="helppayStatus"
			jdbcType="INTEGER" />
		<result column="pay_level" property="payLevel"
			jdbcType="INTEGER" />
		<result column="role_id" property="roleId" jdbcType="INTEGER" />
		  <result column="channel_id" property="channelId" jdbcType="INTEGER" />
		  <result column="hand_amount" property="handAmount" jdbcType="DECIMAL" />
	</resultMap>

	<sql id="Base_Column_List" >
    id, uuid, proxy_id, account_name, mobile_number, pass_word, create_time, status, 
    login_ip, helppay_status, pay_level, role_id, channel_id,hand_amount
  </sql>
  
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from merchant_account_info
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from merchant_account_info
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.polypay.platform.bean.MerchantAccountInfo" >
    insert into merchant_account_info (id, uuid, proxy_id, 
      account_name, mobile_number, pass_word, 
      create_time, status, login_ip, 
      helppay_status, pay_level, role_id, 
      channel_id,hand_amount)
    values (#{id,jdbcType=INTEGER}, #{uuid,jdbcType=VARCHAR}, #{proxyId,jdbcType=VARCHAR}, 
      #{accountName,jdbcType=VARCHAR}, #{mobileNumber,jdbcType=VARCHAR}, #{passWord,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, #{loginIp,jdbcType=VARCHAR}, 
      #{helppayStatus,jdbcType=INTEGER}, #{payLevel,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}, 
      #{channelId,jdbcType=INTEGER},#{handAmount,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.polypay.platform.bean.MerchantAccountInfo" useGeneratedKeys="true" keyProperty="id" >
    insert into merchant_account_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="proxyId != null" >
        proxy_id,
      </if>
      <if test="accountName != null" >
        account_name,
      </if>
      <if test="mobileNumber != null" >
        mobile_number,
      </if>
      <if test="passWord != null" >
        pass_word,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="loginIp != null" >
        login_ip,
      </if>
      <if test="helppayStatus != null" >
        helppay_status,
      </if>
      <if test="payLevel != null" >
        pay_level,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="channelId != null" >
        channel_id,
      </if>
      <if test="handAmount != null" >
        hand_amount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="proxyId != null" >
        #{proxyId,jdbcType=VARCHAR},
      </if>
      <if test="accountName != null" >
        #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="mobileNumber != null" >
        #{mobileNumber,jdbcType=VARCHAR},
      </if>
      <if test="passWord != null" >
        #{passWord,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="loginIp != null" >
        #{loginIp,jdbcType=VARCHAR},
      </if>
      <if test="helppayStatus != null" >
        #{helppayStatus,jdbcType=INTEGER},
      </if>
      <if test="payLevel != null" >
        #{payLevel,jdbcType=INTEGER},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="channelId != null" >
        #{channelId,jdbcType=INTEGER},
      </if>
       <if test="handAmount != null" >
        #{handAmount,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.polypay.platform.bean.MerchantAccountInfo" >
    update merchant_account_info
    <set >
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="proxyId != null" >
        proxy_id = #{proxyId,jdbcType=VARCHAR},
      </if>
      <if test="accountName != null" >
        account_name = #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="mobileNumber != null" >
        mobile_number = #{mobileNumber,jdbcType=VARCHAR},
      </if>
      <if test="passWord != null" >
        pass_word = #{passWord,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="loginIp != null" >
        login_ip = #{loginIp,jdbcType=VARCHAR},
      </if>
      <if test="helppayStatus != null" >
        helppay_status = #{helppayStatus,jdbcType=INTEGER},
      </if>
      <if test="payLevel != null" >
        pay_level = #{payLevel,jdbcType=INTEGER},
      </if>
      <if test="roleId != null" >
        role_id = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="channelId != null" >
        channel_id = #{channelId,jdbcType=INTEGER},
      </if>
      <if test="handAmount != null" >
        hand_amount = #{handAmount,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.polypay.platform.bean.MerchantAccountInfo" >
    update merchant_account_info
    set uuid = #{uuid,jdbcType=VARCHAR},
      proxy_id = #{proxyId,jdbcType=VARCHAR},
      account_name = #{accountName,jdbcType=VARCHAR},
      mobile_number = #{mobileNumber,jdbcType=VARCHAR},
      pass_word = #{passWord,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      login_ip = #{loginIp,jdbcType=VARCHAR},
      helppay_status = #{helppayStatus,jdbcType=INTEGER},
      pay_level = #{payLevel,jdbcType=INTEGER},
      role_id = #{roleId,jdbcType=INTEGER},
      channel_id = #{channelId,jdbcType=INTEGER},
       hand_amount = #{handAmount,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
	<select id="getMerchantInfo"
		parameterType="com.polypay.platform.bean.MerchantAccountInfo"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from merchant_account_info
		where
		mobile_number = #{mobileNumber,jdbcType=VARCHAR}
	</select>

	<select id="getMerchantInfoByUUID"
		parameterType="com.polypay.platform.bean.MerchantAccountInfo"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from merchant_account_info
		where
		uuid = #{uuid,jdbcType=VARCHAR}
	</select>

	<select id="listMerchantAccountInfo"
		parameterType="com.polypay.platform.vo.MerchantAccountInfoVO"
		resultMap="listResultMap">
		select
		<include refid="Base_Column_List" />
		from merchant_account_info
		where 1=1
		<if test="proxyId != null">
			and proxy_id = #{proxyId}
		</if>

		<if test="payLevel != null">
			and pay_level = #{payLevel}
		</if>

		<if test="status != null">
			and status = #{status}
		</if>

		<if test="roleId != null">
			and role_id = #{roleId}
		</if>
		
		<if test="mobileNumber != null">
			<bind name="mobileNumber" value="'%'+mobileNumber+'%'" />
			and mobile_number like #{mobileNumber}
		</if>

		order by create_time desc

	</select>
	
	
	<select id="listMerchantAccountInfoByProxy" 
	parameterType="java.lang.String"
	resultType="java.lang.String">
		select uuid from merchant_account_info where proxy_id = #{proxyId} and role_id = 1
	</select>
	

</mapper>