<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.polypay.platform.dao.MerchantAccountBindbankMapper">
	<resultMap id="BaseResultMap" type="com.polypay.platform.bean.MerchantAccountBindbank" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="merchant_id" property="merchantId" jdbcType="VARCHAR" />
    <result column="bank_name" property="bankName" jdbcType="VARCHAR" />
    <result column="bank_code" property="bankCode" jdbcType="VARCHAR" />
    <result column="branch_name" property="branchName" jdbcType="VARCHAR" />
    <result column="account_name" property="accountName" jdbcType="VARCHAR" />
    <result column="account_number" property="accountNumber" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="provice" property="provice" jdbcType="VARCHAR" />
    <result column="default_status" property="defaultStatus" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>

	
	<resultMap id="listResultMap"
		type="com.polypay.platform.vo.MerchantAccountBindbankVO">
		 <id column="id" property="id" jdbcType="INTEGER" />
    <result column="merchant_id" property="merchantId" jdbcType="VARCHAR" />
    <result column="bank_name" property="bankName" jdbcType="VARCHAR" />
    <result column="bank_code" property="bankCode" jdbcType="VARCHAR" />
    <result column="branch_name" property="branchName" jdbcType="VARCHAR" />
    <result column="account_name" property="accountName" jdbcType="VARCHAR" />
    <result column="account_number" property="accountNumber" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="provice" property="provice" jdbcType="VARCHAR" />
    <result column="default_status" property="defaultStatus" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
	</resultMap>
	
	<sql id="Base_Column_List" >
    id, merchant_id, bank_name, bank_code, branch_name, account_name, account_number, 
    city, provice, default_status, remark
  </sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from merchant_account_bindbank
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from merchant_account_bindbank
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.polypay.platform.bean.MerchantAccountBindbank" >
    insert into merchant_account_bindbank (id, merchant_id, bank_name, 
      bank_code, branch_name, account_name, 
      account_number, city, provice, 
      default_status, remark)
    values (#{id,jdbcType=INTEGER}, #{merchantId,jdbcType=VARCHAR}, #{bankName,jdbcType=VARCHAR}, 
      #{bankCode,jdbcType=VARCHAR}, #{branchName,jdbcType=VARCHAR}, #{accountName,jdbcType=VARCHAR}, 
      #{accountNumber,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{provice,jdbcType=VARCHAR}, 
      #{defaultStatus,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.polypay.platform.bean.MerchantAccountBindbank" >
    insert into merchant_account_bindbank
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="merchantId != null" >
        merchant_id,
      </if>
      <if test="bankName != null" >
        bank_name,
      </if>
      <if test="bankCode != null" >
        bank_code,
      </if>
      <if test="branchName != null" >
        branch_name,
      </if>
      <if test="accountName != null" >
        account_name,
      </if>
      <if test="accountNumber != null" >
        account_number,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="provice != null" >
        provice,
      </if>
      <if test="defaultStatus != null" >
        default_status,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="merchantId != null" >
        #{merchantId,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null" >
        #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="bankCode != null" >
        #{bankCode,jdbcType=VARCHAR},
      </if>
      <if test="branchName != null" >
        #{branchName,jdbcType=VARCHAR},
      </if>
      <if test="accountName != null" >
        #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="accountNumber != null" >
        #{accountNumber,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="provice != null" >
        #{provice,jdbcType=VARCHAR},
      </if>
      <if test="defaultStatus != null" >
        #{defaultStatus,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.polypay.platform.bean.MerchantAccountBindbank" >
    update merchant_account_bindbank
    <set >
      <if test="merchantId != null" >
        merchant_id = #{merchantId,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null" >
        bank_name = #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="bankCode != null" >
        bank_code = #{bankCode,jdbcType=VARCHAR},
      </if>
      <if test="branchName != null" >
        branch_name = #{branchName,jdbcType=VARCHAR},
      </if>
      <if test="accountName != null" >
        account_name = #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="accountNumber != null" >
        account_number = #{accountNumber,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="provice != null" >
        provice = #{provice,jdbcType=VARCHAR},
      </if>
      <if test="defaultStatus != null" >
        default_status = #{defaultStatus,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.polypay.platform.bean.MerchantAccountBindbank" >
    update merchant_account_bindbank
    set merchant_id = #{merchantId,jdbcType=VARCHAR},
      bank_name = #{bankName,jdbcType=VARCHAR},
      bank_code = #{bankCode,jdbcType=VARCHAR},
      branch_name = #{branchName,jdbcType=VARCHAR},
      account_name = #{accountName,jdbcType=VARCHAR},
      account_number = #{accountNumber,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      provice = #{provice,jdbcType=VARCHAR},
      default_status = #{defaultStatus,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
	<update id="reverseBankStatus" parameterType="java.lang.String">
		update merchant_account_bindbank
		set default_status=1
		where 
		merchant_id = #{uuid,jdbcType=VARCHAR}
	</update>

	<select id="selectMerchantBindBankByID"
		parameterType="java.util.Map" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from merchant_account_bindbank
		where id = #{id,jdbcType=INTEGER}
		and merchant_id = #{merchantId,jdbcType=VARCHAR}
	</select>

	<select id="listMerchantBindBank"
		parameterType="com.polypay.platform.vo.MerchantAccountBindbankVO"
		resultMap="listResultMap">
		select
		<include refid="Base_Column_List" />
		from merchant_account_bindbank
		where merchant_id = #{merchantId,jdbcType=VARCHAR}
	</select>


	
</mapper>