<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.polypay.platform.dao.MerchantSettleOrderMapper">
	 <resultMap id="BaseResultMap" type="com.polypay.platform.bean.MerchantSettleOrder" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_number" property="orderNumber" jdbcType="VARCHAR" />
    <result column="postal_amount" property="postalAmount" jdbcType="DECIMAL" />
    <result column="service_amount" property="serviceAmount" jdbcType="DECIMAL" />
    <result column="arrival_amount" property="arrivalAmount" jdbcType="DECIMAL" />
    <result column="merchant_bind_bank" property="merchantBindBank" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="pay_time" property="payTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="descreption" property="descreption" jdbcType="VARCHAR" />
    <result column="handle_people" property="handlePeople" jdbcType="VARCHAR" />
    <result column="merchant_id" property="merchantId" jdbcType="VARCHAR" />
    <result column="bank_name" property="bankName" jdbcType="VARCHAR" />
    <result column="account_name" property="accountName" jdbcType="VARCHAR" />
    <result column="account_city" property="accountCity" jdbcType="VARCHAR" />
    <result column="account_provice" property="accountProvice" jdbcType="VARCHAR" />
    <result column="bank_code" property="bankCode" jdbcType="VARCHAR" />
    <result column="trade_type" property="tradeType" jdbcType="VARCHAR" />
    <result column="branch_bank_name" property="branchBankName" jdbcType="VARCHAR" />
    <result column="bank_no" property="bankNo" jdbcType="VARCHAR" />
    <result column="call_url" property="callUrl" jdbcType="VARCHAR" />
    <result column="merchant_order_number" property="merchantOrderNumber" jdbcType="VARCHAR" />
  </resultMap>
  

	<resultMap id="listResult"
		type="com.polypay.platform.vo.MerchantSettleOrderVO">
		 <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_number" property="orderNumber" jdbcType="VARCHAR" />
    <result column="postal_amount" property="postalAmount" jdbcType="DECIMAL" />
    <result column="service_amount" property="serviceAmount" jdbcType="DECIMAL" />
    <result column="arrival_amount" property="arrivalAmount" jdbcType="DECIMAL" />
    <result column="merchant_bind_bank" property="merchantBindBank" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="pay_time" property="payTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="descreption" property="descreption" jdbcType="VARCHAR" />
    <result column="handle_people" property="handlePeople" jdbcType="VARCHAR" />
    <result column="merchant_id" property="merchantId" jdbcType="VARCHAR" />
    <result column="bank_name" property="bankName" jdbcType="VARCHAR" />
    <result column="account_name" property="accountName" jdbcType="VARCHAR" />
    <result column="account_city" property="accountCity" jdbcType="VARCHAR" />
    <result column="account_provice" property="accountProvice" jdbcType="VARCHAR" />
    <result column="bank_code" property="bankCode" jdbcType="VARCHAR" />
    <result column="trade_type" property="tradeType" jdbcType="VARCHAR" />
    <result column="branch_bank_name" property="branchBankName" jdbcType="VARCHAR" />
     <result column="bank_no" property="bankNo" jdbcType="VARCHAR" />
     <result column="call_url" property="callUrl" jdbcType="VARCHAR" />
    <result column="merchant_order_number" property="merchantOrderNumber" jdbcType="VARCHAR" />
	</resultMap>
<sql id="Base_Column_List" >
    id, order_number, postal_amount, service_amount, arrival_amount, merchant_bind_bank, 
    account_provice, account_city, account_name, branch_bank_name, bank_code, bank_name, 
    create_time, pay_time, status, type, descreption, handle_people, merchant_id, trade_type, 
    bank_no, call_url, merchant_order_number
  </sql>
  
  
  <sql id="proxy_list" >
    mso.id, mso.order_number, mso.postal_amount, mso.service_amount, mso.arrival_amount, mso.merchant_bind_bank, 
    mso.create_time, mso.pay_time, mso.status, mso.type, mso.descreption, mso.handle_people, mso.merchant_id, mso.bank_name, 
    mso.account_name, mso.account_city, mso.account_provice, mso.bank_code, mso.trade_type,mso.branch_bank_name,mso.bank_no,
    mso.call_url, mso.merchant_order_number
  </sql>
  
	 <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from merchant_settle_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from merchant_settle_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.polypay.platform.bean.MerchantSettleOrder" >
    insert into merchant_settle_order (id, order_number, postal_amount, 
      service_amount, arrival_amount, merchant_bind_bank, 
      account_provice, account_city, account_name, 
      branch_bank_name, bank_code, bank_name, 
      create_time, pay_time, status, 
      type, descreption, handle_people, 
      merchant_id, trade_type, bank_no, 
      call_url, merchant_order_number)
    values (#{id,jdbcType=INTEGER}, #{orderNumber,jdbcType=VARCHAR}, #{postalAmount,jdbcType=DECIMAL}, 
      #{serviceAmount,jdbcType=DECIMAL}, #{arrivalAmount,jdbcType=DECIMAL}, #{merchantBindBank,jdbcType=VARCHAR}, 
      #{accountProvice,jdbcType=VARCHAR}, #{accountCity,jdbcType=VARCHAR}, #{accountName,jdbcType=VARCHAR}, 
      #{branchBankName,jdbcType=VARCHAR}, #{bankCode,jdbcType=VARCHAR}, #{bankName,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{payTime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, 
      #{type,jdbcType=INTEGER}, #{descreption,jdbcType=VARCHAR}, #{handlePeople,jdbcType=VARCHAR}, 
      #{merchantId,jdbcType=VARCHAR}, #{tradeType,jdbcType=VARCHAR}, #{bankNo,jdbcType=VARCHAR}, 
      #{callUrl,jdbcType=VARCHAR}, #{merchantOrderNumber,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.polypay.platform.bean.MerchantSettleOrder" >
    insert into merchant_settle_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderNumber != null" >
        order_number,
      </if>
      <if test="postalAmount != null" >
        postal_amount,
      </if>
      <if test="serviceAmount != null" >
        service_amount,
      </if>
      <if test="arrivalAmount != null" >
        arrival_amount,
      </if>
      <if test="merchantBindBank != null" >
        merchant_bind_bank,
      </if>
      <if test="accountProvice != null" >
        account_provice,
      </if>
      <if test="accountCity != null" >
        account_city,
      </if>
      <if test="accountName != null" >
        account_name,
      </if>
      <if test="branchBankName != null" >
        branch_bank_name,
      </if>
      <if test="bankCode != null" >
        bank_code,
      </if>
      <if test="bankName != null" >
        bank_name,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="payTime != null" >
        pay_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="descreption != null" >
        descreption,
      </if>
      <if test="handlePeople != null" >
        handle_people,
      </if>
      <if test="merchantId != null" >
        merchant_id,
      </if>
      <if test="tradeType != null" >
        trade_type,
      </if>
      <if test="bankNo != null" >
        bank_no,
      </if>
      <if test="callUrl != null" >
        call_url,
      </if>
      <if test="merchantOrderNumber != null" >
        merchant_order_number,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderNumber != null" >
        #{orderNumber,jdbcType=VARCHAR},
      </if>
      <if test="postalAmount != null" >
        #{postalAmount,jdbcType=DECIMAL},
      </if>
      <if test="serviceAmount != null" >
        #{serviceAmount,jdbcType=DECIMAL},
      </if>
      <if test="arrivalAmount != null" >
        #{arrivalAmount,jdbcType=DECIMAL},
      </if>
      <if test="merchantBindBank != null" >
        #{merchantBindBank,jdbcType=VARCHAR},
      </if>
      <if test="accountProvice != null" >
        #{accountProvice,jdbcType=VARCHAR},
      </if>
      <if test="accountCity != null" >
        #{accountCity,jdbcType=VARCHAR},
      </if>
      <if test="accountName != null" >
        #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="branchBankName != null" >
        #{branchBankName,jdbcType=VARCHAR},
      </if>
      <if test="bankCode != null" >
        #{bankCode,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null" >
        #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payTime != null" >
        #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="descreption != null" >
        #{descreption,jdbcType=VARCHAR},
      </if>
      <if test="handlePeople != null" >
        #{handlePeople,jdbcType=VARCHAR},
      </if>
      <if test="merchantId != null" >
        #{merchantId,jdbcType=VARCHAR},
      </if>
      <if test="tradeType != null" >
        #{tradeType,jdbcType=VARCHAR},
      </if>
      <if test="bankNo != null" >
        #{bankNo,jdbcType=VARCHAR},
      </if>
      <if test="callUrl != null" >
        #{callUrl,jdbcType=VARCHAR},
      </if>
      <if test="merchantOrderNumber != null" >
        #{merchantOrderNumber,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.polypay.platform.bean.MerchantSettleOrder" >
    update merchant_settle_order
    <set >
      <if test="orderNumber != null" >
        order_number = #{orderNumber,jdbcType=VARCHAR},
      </if>
      <if test="postalAmount != null" >
        postal_amount = #{postalAmount,jdbcType=DECIMAL},
      </if>
      <if test="serviceAmount != null" >
        service_amount = #{serviceAmount,jdbcType=DECIMAL},
      </if>
      <if test="arrivalAmount != null" >
        arrival_amount = #{arrivalAmount,jdbcType=DECIMAL},
      </if>
      <if test="merchantBindBank != null" >
        merchant_bind_bank = #{merchantBindBank,jdbcType=VARCHAR},
      </if>
      <if test="accountProvice != null" >
        account_provice = #{accountProvice,jdbcType=VARCHAR},
      </if>
      <if test="accountCity != null" >
        account_city = #{accountCity,jdbcType=VARCHAR},
      </if>
      <if test="accountName != null" >
        account_name = #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="branchBankName != null" >
        branch_bank_name = #{branchBankName,jdbcType=VARCHAR},
      </if>
      <if test="bankCode != null" >
        bank_code = #{bankCode,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null" >
        bank_name = #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payTime != null" >
        pay_time = #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="descreption != null" >
        descreption = #{descreption,jdbcType=VARCHAR},
      </if>
      <if test="handlePeople != null" >
        handle_people = #{handlePeople,jdbcType=VARCHAR},
      </if>
      <if test="merchantId != null" >
        merchant_id = #{merchantId,jdbcType=VARCHAR},
      </if>
      <if test="tradeType != null" >
        trade_type = #{tradeType,jdbcType=VARCHAR},
      </if>
      <if test="bankNo != null" >
        bank_no = #{bankNo,jdbcType=VARCHAR},
      </if>
      <if test="callUrl != null" >
        call_url = #{callUrl,jdbcType=VARCHAR},
      </if>
      <if test="merchantOrderNumber != null" >
        merchant_order_number = #{merchantOrderNumber,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.polypay.platform.bean.MerchantSettleOrder" >
    update merchant_settle_order
    set order_number = #{orderNumber,jdbcType=VARCHAR},
      postal_amount = #{postalAmount,jdbcType=DECIMAL},
      service_amount = #{serviceAmount,jdbcType=DECIMAL},
      arrival_amount = #{arrivalAmount,jdbcType=DECIMAL},
      merchant_bind_bank = #{merchantBindBank,jdbcType=VARCHAR},
      account_provice = #{accountProvice,jdbcType=VARCHAR},
      account_city = #{accountCity,jdbcType=VARCHAR},
      account_name = #{accountName,jdbcType=VARCHAR},
      branch_bank_name = #{branchBankName,jdbcType=VARCHAR},
      bank_code = #{bankCode,jdbcType=VARCHAR},
      bank_name = #{bankName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      pay_time = #{payTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      descreption = #{descreption,jdbcType=VARCHAR},
      handle_people = #{handlePeople,jdbcType=VARCHAR},
      merchant_id = #{merchantId,jdbcType=VARCHAR},
      trade_type = #{tradeType,jdbcType=VARCHAR},
      bank_no = #{bankNo,jdbcType=VARCHAR},
      call_url = #{callUrl,jdbcType=VARCHAR},
      merchant_order_number = #{merchantOrderNumber,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

	<select id="listMerchantSettleOrder"
		parameterType="com.polypay.platform.vo.MerchantSettleOrderVO"
		resultMap="listResult">
		select
		<include refid="Base_Column_List" />
		from merchant_settle_order
		where 1 = 1

		<if test="merchantId != null">
			and merchant_id = #{merchantId,jdbcType=INTEGER}
		</if>

		<if test="status != null">
			and status = #{status,jdbcType=INTEGER}
		</if>

		<if test="orderNumber != null">
			<bind name="orderNumber" value="'%'+orderNumber+'%'" />
			and order_number like #{orderNumber}
		</if>

		<if test="merchantOrderNumber != null">
			<bind name="merchantOrderNumber" value="'%'+merchantOrderNumber+'%'" />
			and merchant_order_number like #{merchantOrderNumber}
		</if>

		<if test="cBeginTime != null">
			and create_time <![CDATA[>=]]>
			#{cBeginTime}
		</if>

		<if test="cEndTime != null">
			and create_time <![CDATA[<=]]>
			#{cEndTime}
		</if>

		<if test="sBeginTime != null">
			and pay_time <![CDATA[>=]]>
			#{sBeginTime}
		</if>

		<if test="sEndTime != null">
			and pay_time <![CDATA[<=]]>
			#{sEndTime}
		</if>

		order by create_time desc
	</select>

	<select id="getMerchantSettleMonthBill"
		parameterType="java.util.Map"
		resultType="com.polypay.platform.bean.MerchantBill">
		SELECT
		merchant_id as merchantId,
		count(1) as settleNumber,
		sum(postal_amount) as
		settleAmount,
		sum(service_amount) as
		settleServiceAmount
		from
		merchant_settle_order where status = 0

		<if test="beginTime != null">
			and create_time <![CDATA[>=]]>
			#{beginTime}
		</if>

		<if test="endTime != null">
			and create_time <![CDATA[<=]]>
			#{endTime}
		</if>
		group by merchant_id
	</select>


	<select id="allMerchantSettle" parameterType="java.lang.String"
		resultType="com.polypay.platform.vo.MerchantMainDateVO">

		SELECT
		SUM(mro.`postal_amount`) AS merchantAllSettleAmount,
		COUNT(1) AS merchantAllOrderNumber,
		sum(mro.`service_amount`) AS
		merchantAllServiceAmount
		FROM merchant_settle_order mro WHERE
		mro.`merchant_id` = #{merchantUUID}
		AND mro.`status` = 0
		GROUP BY
		mro.`merchant_id`

	</select>


	<select id="managerAllMerchantSettleOrder"
		resultType="com.polypay.platform.vo.MerchantMainDateVO">
		select
		sum(mro.`postal_amount`) AS merchantAllSettleAmount,
		COUNT(1) AS merchantAllOrderNumber,
		sum(mro.`service_amount`) AS
		merchantAllServiceAmount
		from
		merchant_settle_order mro where
		mro.`status` = 0
	</select>

	<select id="listHandleOrder" resultMap = "BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from merchant_settle_order
		where status = 2
	</select>
	
	<select id="listProxyMerchantSettleOrder"
		parameterType="com.polypay.platform.vo.MerchantSettleOrderVO"
		resultMap="listResult">
		select
		<include refid="proxy_list" />
		from merchant_account_info mai left join merchant_settle_order mso 
		on mai.uuid = mso.merchant_id 
		where 1 = 1
		and mai.proxy_id = #{proxyId}
		<if test="merchantId != null">
			and mso.merchant_id = #{merchantId,jdbcType=INTEGER}
		</if>

		<if test="status != null">
			and mso.status = #{status,jdbcType=INTEGER}
		</if>

		<if test="orderNumber != null">
			<bind name="orderNumber" value="'%'+orderNumber+'%'" />
			and mso.order_number like #{orderNumber}
		</if>

		<if test="cBeginTime != null">
			and mso.create_time <![CDATA[>=]]>
			#{cBeginTime}
		</if>

		<if test="cEndTime != null">
			and mso.create_time <![CDATA[<=]]>
			#{cEndTime}
		</if>

		<if test="sBeginTime != null">
			and mso.pay_time <![CDATA[>=]]>
			#{sBeginTime}
		</if>

		<if test="sEndTime != null">
			and mso.pay_time <![CDATA[<=]]>
			#{sEndTime}
		</if>

		order by mso.create_time desc
	</select>
	
	<select id="getSettleOrderByOrderNo" parameterType="java.lang.String" resultMap="BaseResultMap">
	
	select 
	<include refid="Base_Column_List" />
	from merchant_settle_order
	where order_number = #{sOrder}
	
	</select>
	
	<select id="listProxyMerchantSettleOrder1" resultType="com.polypay.platform.vo.MerchantSettleOrderVO"
	parameterType="com.polypay.platform.vo.MerchantSettleOrderVO">
	select 
	substr(create_time,1,10) as cTime,
	merchant_id as merchantId,
	sum(postal_amount) as postalAmount,
	sum(service_amount) as serviceAmount,
	sum(arrival_amount) as arrivalAmount,
	count(1) as countN
	 from 
	merchant_settle_order 
	where 1=1
	
 
		<if test="merchantId != null and merchantId != ''">
		and merchant_id = #{merchantId}
		</if>
		
			<if test="cTime != null and cTime != ''">
		and substr(create_time,1,10) = #{cTime}
		</if>
		and status >=0
	
	
	group by merchant_id,substr(create_time,1,10)
		 ORDER BY create_time DESC
	
	</select>


</mapper>