<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.polypay.platform.dao.PayTypeMapper" >
  <resultMap id="BaseResultMap" type="com.polypay.platform.bean.PayType" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="rate" property="rate" jdbcType="DECIMAL" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="merchant_level" property="merchantLevel" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, rate, status, merchant_level
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from pay_type
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from pay_type
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.polypay.platform.bean.PayType" >
    insert into pay_type (id, name, rate, 
      status, merchant_level)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{rate,jdbcType=DECIMAL}, 
      #{status,jdbcType=INTEGER}, #{merchantLevel,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.polypay.platform.bean.PayType" >
    insert into pay_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="rate != null" >
        rate,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="merchantLevel != null" >
        merchant_level,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="rate != null" >
        #{rate,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="merchantLevel != null" >
        #{merchantLevel,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.polypay.platform.bean.PayType" >
    update pay_type
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="rate != null" >
        rate = #{rate,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="merchantLevel != null" >
        merchant_level = #{merchantLevel,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.polypay.platform.bean.PayType" >
    update pay_type
    set name = #{name,jdbcType=VARCHAR},
      rate = #{rate,jdbcType=DECIMAL},
      status = #{status,jdbcType=INTEGER},
      merchant_level = #{merchantLevel,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="getRateByLevelAndChannel" parameterType="java.util.Map" resultMap="BaseResultMap">
      select 
    <include refid="Base_Column_List" />
    from pay_type
    where name = #{payChannel}
    and merchant_level = #{payLevel}
  </select>
</mapper>