<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.polypay.platform.dao.SystemConstsMapper" >
  <resultMap id="BaseResultMap" type="com.polypay.platform.bean.SystemConsts" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="consts_key" property="constsKey" jdbcType="VARCHAR" />
    <result column="consts_value" property="constsValue" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, consts_key, consts_value, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from system_consts
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from system_consts
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.polypay.platform.bean.SystemConsts" >
    insert into system_consts (id, consts_key, consts_value, 
      create_time)
    values (#{id,jdbcType=INTEGER}, #{constsKey,jdbcType=VARCHAR}, #{constsValue,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.polypay.platform.bean.SystemConsts" >
    insert into system_consts
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="constsKey != null" >
        consts_key,
      </if>
      <if test="constsValue != null" >
        consts_value,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="constsKey != null" >
        #{constsKey,jdbcType=VARCHAR},
      </if>
      <if test="constsValue != null" >
        #{constsValue,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.polypay.platform.bean.SystemConsts" >
    update system_consts
    <set >
      <if test="constsKey != null" >
        consts_key = #{constsKey,jdbcType=VARCHAR},
      </if>
      <if test="constsValue != null" >
        consts_value = #{constsValue,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.polypay.platform.bean.SystemConsts" >
    update system_consts
    set consts_key = #{constsKey,jdbcType=VARCHAR},
      consts_value = #{constsValue,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="getConstsByKey" parameterType="java.lang.String" resultMap="BaseResultMap">
   select 
    <include refid="Base_Column_List" />
    from system_consts
    where consts_key = #{constsKey,jdbcType=INTEGER}
   </select>
</mapper>