<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.polypay.platform.dao.MerchantRechargeOrderMapper">
	<resultMap id="listResult"
		type="com.polypay.platform.vo.MerchantRechargeOrderVO">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="order_number" property="orderNumber"
			jdbcType="VARCHAR" />
		<result column="merchant_order_number"
			property="merchantOrderNumber" jdbcType="VARCHAR" />
		<result column="bank_order_number" property="bankOrderNumber"
			jdbcType="VARCHAR" />
		<result column="merchant_id" property="merchantId"
			jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="INTEGER" />
		<result column="pay_amount" property="payAmount"
			jdbcType="DECIMAL" />
		<result column="service_amount" property="serviceAmount"
			jdbcType="DECIMAL" />
		<result column="arrival_amount" property="arrivalAmount"
			jdbcType="DECIMAL" />
		<result column="create_time" property="createTime"
			jdbcType="TIMESTAMP" />
		<result column="success_time" property="successTime"
			jdbcType="TIMESTAMP" />
		<result column="pay_channel" property="payChannel"
			jdbcType="VARCHAR" />
		<result column="pay_bank" property="payBank" jdbcType="VARCHAR" />
		<result column="descreption" property="descreption"
			jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="trade_type" property="tradeType"
			jdbcType="VARCHAR" />
		<result column="account_mobile_number"
			property="accountMobileNumber" jdbcType="VARCHAR" />
		<result column="account_bank_number"
			property="accountBankNumber" jdbcType="VARCHAR" />
		<result column="account_name" property="accountName"
			jdbcType="VARCHAR" />
	</resultMap>

	<resultMap id="BaseResultMap"
		type="com.polypay.platform.bean.MerchantRechargeOrder">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="order_number" property="orderNumber"
			jdbcType="VARCHAR" />
		<result column="merchant_order_number"
			property="merchantOrderNumber" jdbcType="VARCHAR" />
		<result column="bank_order_number" property="bankOrderNumber"
			jdbcType="VARCHAR" />
		<result column="merchant_id" property="merchantId"
			jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="INTEGER" />
		<result column="pay_amount" property="payAmount"
			jdbcType="DECIMAL" />
		<result column="service_amount" property="serviceAmount"
			jdbcType="DECIMAL" />
		<result column="arrival_amount" property="arrivalAmount"
			jdbcType="DECIMAL" />
		<result column="create_time" property="createTime"
			jdbcType="TIMESTAMP" />
		<result column="success_time" property="successTime"
			jdbcType="TIMESTAMP" />
		<result column="pay_channel" property="payChannel"
			jdbcType="VARCHAR" />
		<result column="pay_bank" property="payBank" jdbcType="VARCHAR" />
		<result column="descreption" property="descreption"
			jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="trade_type" property="tradeType"
			jdbcType="VARCHAR" />
		<result column="account_mobile_number"
			property="accountMobileNumber" jdbcType="VARCHAR" />
		<result column="account_bank_number"
			property="accountBankNumber" jdbcType="VARCHAR" />
		<result column="account_name" property="accountName"
			jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, order_number, merchant_order_number, bank_order_number,
		merchant_id,
		type, pay_amount,
		service_amount, arrival_amount,
		create_time, success_time, pay_channel, pay_bank,
		descreption, status,
		trade_type, account_mobile_number,
		account_bank_number, account_name
	</sql>
	
	<sql id="proxy_list">
		mro.id, mro.order_number, mro.merchant_order_number, mro.bank_order_number,
		mro.merchant_id,
		mro.type, mro.pay_amount,
		mro.service_amount, mro.arrival_amount,
		mro.create_time, mro.success_time, mro.pay_channel, mro.pay_bank,
		mro.descreption, mro.status,
		mro.trade_type, mro.account_mobile_number,
		mro.account_bank_number, mro.account_name
	</sql>
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from merchant_recharge_order
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from merchant_recharge_order
		where id =
		#{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert"
		parameterType="com.polypay.platform.bean.MerchantRechargeOrder">
		insert into merchant_recharge_order (id, order_number,
		merchant_order_number,
		bank_order_number, merchant_id, type,
		pay_amount, service_amount, arrival_amount,
		create_time, success_time,
		pay_channel,
		pay_bank, descreption, status,
		trade_type,
		account_mobile_number, account_bank_number,
		account_name)
		values
		(#{id,jdbcType=INTEGER}, #{orderNumber,jdbcType=VARCHAR},
		#{merchantOrderNumber,jdbcType=VARCHAR},
		#{bankOrderNumber,jdbcType=VARCHAR}, #{merchantId,jdbcType=VARCHAR},
		#{type,jdbcType=INTEGER},
		#{payAmount,jdbcType=DECIMAL},
		#{serviceAmount,jdbcType=DECIMAL}, #{arrivalAmount,jdbcType=DECIMAL},
		#{createTime,jdbcType=TIMESTAMP}, #{successTime,jdbcType=TIMESTAMP},
		#{payChannel,jdbcType=VARCHAR},
		#{payBank,jdbcType=VARCHAR},
		#{descreption,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER},
		#{tradeType,jdbcType=VARCHAR},
		#{accountMobileNumber,jdbcType=VARCHAR},
		#{accountBankNumber,jdbcType=VARCHAR},
		#{accountName,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective"
		parameterType="com.polypay.platform.bean.MerchantRechargeOrder">
		insert into merchant_recharge_order
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="orderNumber != null">
				order_number,
			</if>
			<if test="merchantOrderNumber != null">
				merchant_order_number,
			</if>
			<if test="bankOrderNumber != null">
				bank_order_number,
			</if>
			<if test="merchantId != null">
				merchant_id,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="payAmount != null">
				pay_amount,
			</if>
			<if test="serviceAmount != null">
				service_amount,
			</if>
			<if test="arrivalAmount != null">
				arrival_amount,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="successTime != null">
				success_time,
			</if>
			<if test="payChannel != null">
				pay_channel,
			</if>
			<if test="payBank != null">
				pay_bank,
			</if>
			<if test="descreption != null">
				descreption,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="tradeType != null">
				trade_type,
			</if>
			<if test="accountMobileNumber != null">
				account_mobile_number,
			</if>
			<if test="accountBankNumber != null">
				account_bank_number,
			</if>
			<if test="accountName != null">
				account_name,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="orderNumber != null">
				#{orderNumber,jdbcType=VARCHAR},
			</if>
			<if test="merchantOrderNumber != null">
				#{merchantOrderNumber,jdbcType=VARCHAR},
			</if>
			<if test="bankOrderNumber != null">
				#{bankOrderNumber,jdbcType=VARCHAR},
			</if>
			<if test="merchantId != null">
				#{merchantId,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				#{type,jdbcType=INTEGER},
			</if>
			<if test="payAmount != null">
				#{payAmount,jdbcType=DECIMAL},
			</if>
			<if test="serviceAmount != null">
				#{serviceAmount,jdbcType=DECIMAL},
			</if>
			<if test="arrivalAmount != null">
				#{arrivalAmount,jdbcType=DECIMAL},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="successTime != null">
				#{successTime,jdbcType=TIMESTAMP},
			</if>
			<if test="payChannel != null">
				#{payChannel,jdbcType=VARCHAR},
			</if>
			<if test="payBank != null">
				#{payBank,jdbcType=VARCHAR},
			</if>
			<if test="descreption != null">
				#{descreption,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="tradeType != null">
				#{tradeType,jdbcType=VARCHAR},
			</if>
			<if test="accountMobileNumber != null">
				#{accountMobileNumber,jdbcType=VARCHAR},
			</if>
			<if test="accountBankNumber != null">
				#{accountBankNumber,jdbcType=VARCHAR},
			</if>
			<if test="accountName != null">
				#{accountName,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.polypay.platform.bean.MerchantRechargeOrder">
		update merchant_recharge_order
		<set>
			<if test="orderNumber != null">
				order_number = #{orderNumber,jdbcType=VARCHAR},
			</if>
			<if test="merchantOrderNumber != null">
				merchant_order_number =
				#{merchantOrderNumber,jdbcType=VARCHAR},
			</if>
			<if test="bankOrderNumber != null">
				bank_order_number = #{bankOrderNumber,jdbcType=VARCHAR},
			</if>
			<if test="merchantId != null">
				merchant_id = #{merchantId,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=INTEGER},
			</if>
			<if test="payAmount != null">
				pay_amount = #{payAmount,jdbcType=DECIMAL},
			</if>
			<if test="serviceAmount != null">
				service_amount = #{serviceAmount,jdbcType=DECIMAL},
			</if>
			<if test="arrivalAmount != null">
				arrival_amount = #{arrivalAmount,jdbcType=DECIMAL},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="successTime != null">
				success_time = #{successTime,jdbcType=TIMESTAMP},
			</if>
			<if test="payChannel != null">
				pay_channel = #{payChannel,jdbcType=VARCHAR},
			</if>
			<if test="payBank != null">
				pay_bank = #{payBank,jdbcType=VARCHAR},
			</if>
			<if test="descreption != null">
				descreption = #{descreption,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=INTEGER},
			</if>
			<if test="tradeType != null">
				trade_type = #{tradeType,jdbcType=VARCHAR},
			</if>
			<if test="accountMobileNumber != null">
				account_mobile_number =
				#{accountMobileNumber,jdbcType=VARCHAR},
			</if>
			<if test="accountBankNumber != null">
				account_bank_number =
				#{accountBankNumber,jdbcType=VARCHAR},
			</if>
			<if test="accountName != null">
				account_name = #{accountName,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.polypay.platform.bean.MerchantRechargeOrder">
		update merchant_recharge_order
		set order_number =
		#{orderNumber,jdbcType=VARCHAR},
		merchant_order_number =
		#{merchantOrderNumber,jdbcType=VARCHAR},
		bank_order_number =
		#{bankOrderNumber,jdbcType=VARCHAR},
		merchant_id =
		#{merchantId,jdbcType=VARCHAR},
		type = #{type,jdbcType=INTEGER},
		pay_amount = #{payAmount,jdbcType=DECIMAL},
		service_amount =
		#{serviceAmount,jdbcType=DECIMAL},
		arrival_amount =
		#{arrivalAmount,jdbcType=DECIMAL},
		create_time =
		#{createTime,jdbcType=TIMESTAMP},
		success_time =
		#{successTime,jdbcType=TIMESTAMP},
		pay_channel =
		#{payChannel,jdbcType=VARCHAR},
		pay_bank = #{payBank,jdbcType=VARCHAR},
		descreption = #{descreption,jdbcType=VARCHAR},
		status =
		#{status,jdbcType=INTEGER},
		trade_type = #{tradeType,jdbcType=VARCHAR},
		account_mobile_number = #{accountMobileNumber,jdbcType=VARCHAR},
		account_bank_number = #{accountBankNumber,jdbcType=VARCHAR},
		account_name = #{accountName,jdbcType=VARCHAR}
		where id =
		#{id,jdbcType=INTEGER}
	</update>

	<select id="listMerchantRechargeOrder"
		parameterType="com.polypay.platform.vo.MerchantRechargeOrderVO"
		resultMap="listResult">
		select
		<include refid="Base_Column_List" />
		from merchant_recharge_order
		where 1=1

		<if test="merchantId != null">
			and merchant_id = #{merchantId,jdbcType=INTEGER}
		</if>

		<if test="status != null">
			and status = #{status,jdbcType=INTEGER}
		</if>

		<if test="orderNumber != null">
			<bind name="orderNumber" value="'%'+orderNumber+'%'" />
			and order_number like #{orderNumber}
		</if>

		<if test="cBeginTime != null">
			and create_time <![CDATA[>=]]>
			#{cBeginTime}
		</if>

		<if test="cEndTime != null">
			and create_time <![CDATA[<=]]>
			#{cEndTime}
		</if>

		<if test="sBeginTime != null">
			and success_time <![CDATA[>=]]>
			#{sBeginTime}
		</if>

		<if test="sEndTime != null">
			and success_time <![CDATA[<=]]>
			#{sEndTime}
		</if>

		order by create_time desc
	</select>

	<select id="getOrderByMerchantOrderNumber"
		parameterType="java.util.Map" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from merchant_recharge_order
		where merchant_order_number =
		#{merchantOrderNumber}
		and merchant_id = #{merchantId}

	</select>

	<select id="getOrderByOrderNumber"
		parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from merchant_recharge_order
		where order_number = #{orderNumber}
	</select>


	<select id="getMerchantGroupDate"
		parameterType="java.util.Map"
		resultType="com.polypay.platform.vo.MerchantMainDateVO">

		SELECT
		SUM(mro.`pay_amount`) AS merchantAllRechargeAmount,
		COUNT(1) AS merchantAllOrderNumber,
		sum(mro.`service_amount`) AS
		merchantAllServiceAmount
		FROM merchant_recharge_order mro WHERE
		mro.`status` = 0
	
		<if test="merchantUUID != null and merchantUUID != ''">
		and mro.`merchant_id` = #{merchantUUID}
		GROUP BY
		mro.`merchant_id`
		</if>
		

	</select>
	
	
	<select id="allTimeMerchantOrder"
		parameterType="java.lang.String"
		resultType="com.polypay.platform.vo.MerchantMainDateVO">

		SELECT m.create_time as createTime,SUM(m.pay_amount) as
		merchantAllRechargeAmount,COUNT(*) AS merchantAllOrderNumber FROM
		(SELECT
		DATE_FORMAT(mro.`create_time`,'%Y-%m-%d') AS create_time,
		mro.`pay_amount` AS pay_amount
		FROM merchant_recharge_order mro WHERE
		mro.`merchant_id`=#{merchantUUID}
		AND mro.`status` = 0 order by
		mro.create_time desc )m GROUP BY
		m.create_time
	</select>
	
	<select id="getTodayMerchantOrder" parameterType="com.polypay.platform.vo.MerchantRechargeOrderVO"
	resultType="com.polypay.platform.vo.MerchantMainDateVO">
	
	SELECT SUM(mro.pay_amount) as
		merchantTodayRechargeAmount,
		COUNT(*) AS merchantTodayOrderNumber 
		FROM merchant_recharge_order mro WHERE
		1=1
		
		<if test="merchantId != null and merchantId != ''">
		and mro.`merchant_id`=#{merchantId}
		</if>
		
		AND mro.`status` = 0
		and mro.`create_time` <![CDATA[>=]]> #{beginTime}
		and mro.`create_time` <![CDATA[<=]]> #{endTime}
	
	</select>
	
	



	<select id="getMerchantRechargeMonthBill"
		parameterType="java.util.Map"
		resultType="com.polypay.platform.bean.MerchantBill">
		SELECT
		merchant_id as merchantId,
		count(1) as rechargeNumber,
		sum(pay_amount) as
		rechargeAmount,
		sum(service_amount) as
		rechargeServiceAmount
		from
		merchant_recharge_order where status = 0

		<if test="beginTime != null">
			and create_time <![CDATA[>=]]>
			#{beginTime}
		</if>

		<if test="endTime != null">
			and create_time <![CDATA[<=]]>
			#{endTime}
		</if>
		group by merchant_id
	</select>


	<select id="managerAllMerchantRechargeOrder"
		resultType="com.polypay.platform.vo.MerchantMainDateVO">
		select
		sum(mro.`pay_amount`) AS merchantAllRechargeAmount,
		COUNT(1) AS merchantAllOrderNumber,
		sum(mro.`service_amount`) AS
		merchantAllServiceAmount
		from
		merchant_recharge_order mro where mro.`status` = 0
	</select>

	<select id="listHandleOrder" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from merchant_recharge_order
		where status = 1
	</select>
	
	<select id="listProxyMerchantRechargeOrder"
		parameterType="com.polypay.platform.vo.MerchantRechargeOrderVO"
		resultMap="listResult">
		select
		<include refid="proxy_list" />
		from merchant_account_info mai left join merchant_recharge_order mro on mai.uuid = mro.merchant_id
		 
		where 1=1
and mai.proxy_id = #{proxyId}
		<if test="merchantId != null">
			and mro.merchant_id = #{merchantId,jdbcType=INTEGER}
		</if>

		<if test="status != null">
			and mro.status = #{status,jdbcType=INTEGER}
		</if>

		<if test="orderNumber != null">
			<bind name="orderNumber" value="'%'+orderNumber+'%'" />
			and mro.order_number like #{orderNumber}
		</if>

		<if test="cBeginTime != null">
			and mro.create_time <![CDATA[>=]]>
			#{cBeginTime}
		</if>

		<if test="cEndTime != null">
			and mro.create_time <![CDATA[<=]]>
			#{cEndTime}
		</if>

		<if test="sBeginTime != null">
			and mro.success_time <![CDATA[>=]]>
			#{sBeginTime}
		</if>

		<if test="sEndTime != null">
			and mro.success_time <![CDATA[<=]]>
			#{sEndTime}
		</if>

		order by mro.create_time desc
	</select>


	<select id="sumProxyMerchantRechargeOrder" parameterType="java.lang.String" resultType="com.polypay.platform.vo.MerchantMainDateVO">
		
		select sum(t.pay_amount) as merchantAllRechargeAmount,
		count(1) as merchantAllOrderNumber
		 from (select
			 mro.pay_amount as pay_amount
		from merchant_account_info mai left join merchant_recharge_order mro on mai.uuid = mro.merchant_id
		where 1=1
		and mai.proxy_id = #{proxyId}
		AND mro.`status` = 0
		) t
		
	</select>
	
	<select id="sumTodayProxyMerchantRechargeOrder" 
	parameterType="com.polypay.platform.vo.MerchantRechargeOrderVO" 
	resultType="com.polypay.platform.vo.MerchantMainDateVO">
		select sum(t.pay_amount) as merchantTodayRechargeAmount,
		count(1) as merchantTodayOrderNumber
		 from (select
			 mro.pay_amount as pay_amount
		from merchant_account_info mai left join merchant_recharge_order mro on mai.uuid = mro.merchant_id
		where 1=1
		and mai.proxy_id = #{proxyId} 
		AND mro.`status` = 0
		and mro.`create_time` <![CDATA[>=]]> #{beginTime}
		and mro.`create_time` <![CDATA[<=]]> #{endTime}
		) t
	</select>
	
	

</mapper>